/* NavigationBar.css */
nav {
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

button {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: #f0f0f0;
}

button.selected {
  background-color: #333;
  color: #fff;
}

.login-register {
  display: flex;
  align-items: center;
}

.login-register input {
  margin-right: 5px;
  padding: 5px;
  border: 1px solid #ccc;
}

.login-register button {
  margin-left: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.user-info {
  margin-right: 10px;
}

.logout-button {
  background-color: #dc3545;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.popup-content h3 {
  margin-top: 0;
}

.popup-content input {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.popup-content button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.popup-content button:focus {
  outline: none;
}

.popup-content button:hover {
  background-color: #555;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title-section {
  flex: 1;
}

.login-section {
  margin-right: 10px;
}

.category-buttons {
  display: flex;
  gap: 10px;
}

/* Navigation bar */
.navigation-bar {
  background-color: #383435;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin-top: 20px; 
}

.nav-item {
  margin: 0 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-item:hover {
  color: #ffeb3b;
}

.nav-item.active {
  color: #ffeb3b;
  font-weight: bold;
}
